<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
    <link href="//bizweb.dktcdn.net/100/393/652/themes/773156/assets/base.scss.css?1592482156408" rel="stylesheet" type="text/css">
    <link href="//bizweb.dktcdn.net/100/393/652/themes/773156/assets/style.scss.css?1592482156408" rel="stylesheet" type="text/css">
    <link href="//bizweb.dktcdn.net/100/393/652/themes/773156/assets/module.scss.css?1592482156408" rel="stylesheet" type="text/css">
    <link href="//bizweb.dktcdn.net/100/393/652/themes/773156/assets/responsive.scss.css?1592482156408" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body >
    <!-- Navigation -->

    
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="main-nav">
                <div class="container nav-head">
                    <div class="row">
                        <div class="col-lg-11 col-md-11">
                            <nav class="hidden-sm hidden-xs nav-main">
                                <div class="menu_hed head_1">
                                    <ul class="nav nav_1">
                                        <li class=" nav-item nav-items ">
                                            <a class="nav-link" href="/">
                                                Trang chủ
                                                <span class="label_">
                                                    <i class="label "></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li class=" nav-item nav-items ">
                                            <a class="nav-link" href="">
                                                Giới thiệu
                                                <span class="label_">

                                                    <i class="label "></i>

                                                </span>
                                            </a>
                                        </li>
                                        <li class="menu_hover nav-item nav-items ">
                                            <a href="/" class="nav-link ">
                                                Sản phẩm <i class="fa fa-caret-down" data-toggle="dropdown"></i>
                                                <span class="label_">
                                                    <i class="label "></i>
                                                </span>
                                            </a>
                                            <ul class="dropdown-menu border-box">
                                                <li class="nav-item-lv2">
                                                    <a class="nav-link" href="/ShopGiay/SPTheoLoaiGiay/1">Giày nam</a>
                                                </li>
                                                <li class="nav-item-lv2">
                                                    <a class="nav-link" href="/ShopGiay/SPTheoLoaiGiay/2">Giày nữ</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class=" nav-item nav-items ">
                                            <a class="nav-link" href="">
                                                Tin tức
                                                <span class="label_">
                                                    <i class="label "></i>
                                                </span>
                                            </a>
                                        </li>
                                        <li class=" nav-item nav-items ">
                                            <a class="nav-link" href="">
                                                Liên hệ
                                                <span class="label_">
                                                    <i class="label "></i>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                             <div class="top-cart-contain f-right">
                                 
                                     <a class="nav-link" href="/GioHang/GioHang">
                                         <img src="~/images/as.png" />
                                         <span class="label_">
                                             <i class="label "></i>
                                         </span>
                                     </a>
                                 
                             </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
   
            </nav>
            @*<div class="col-xs-8 col-xs-offset-2 col-sm-12 col-sm-offset-0 col-md-3 col-md-offset-2 col-lg-2 col-lg-offset-0 col-hg-2 logo">
                <a title="Shop Giày" href="/">

                    <img class="img-responsive" src="//bizweb.dktcdn.net/100/339/085/themes/699262/assets/logo.png?1588992669390" alt="Logo The Fire Monkey">
                </a>
            </div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("TRANG CHỦ", "Index", "ShopGiay")
                    </li>
                    @*<li>
                        @Html.ActionLink("ĐĂNG KÝ", "Dangky", "Nguoidung")
                    </li>
                    <li>
                        @Html.ActionLink("ĐĂNG NHẬP", "Dangnhap", "Nguoidung")
                    </li>
                    <li>
                       @Html.Action("GioHangPartial", "Giohang")
                    </li>
                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>*@


        <!-- /.container -->
 

    <!-- Page Content -->
    <div>
         <img src="~/images/D_tcm337-433398.jpg"/>
    </div>
@RenderBody()                      
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; YVT</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    
</body>
</html>
