@model IEnumerable<MvcBookStore.Models.GIAY>

@{
    ViewBag.Title = "Giay";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Giay</h2>

<p>
    @Html.ActionLink("Create New", "ThemmoiGiay")
</p>
<table class="table" border="1">

    <tr>
        <th style="width:200px">Tên giày</th>
        <th style="width:100px">Giá bán</th>
        <th style="width:200px">Mô tả</th>
        <th style="width:120px">Ảnh bìa</th>
        <th style="width:150px">Ngày cập nhật</th>
        <th style="width:120px">SL tồn</th>
        <th style="width:120px">Loại giày</th>
        <th style="width:120px">Nhà sản xuất</th>
        @*<th>
            @Html.DisplayNameFor(model => model.TenGiay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Giaban)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Anhbia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ngaycapnhat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soluongton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLoai)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenGiay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Giaban)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mota)
        </td>
        <td>
            <img src="@Url.Content("~/Hinhsanpham/"+ item.Anhbia)"/>
            @*@Html.DisplayFor(modelItem => item.Anhbia)*@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ngaycapnhat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soluongton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaGiay }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaGiay }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaGiay })
        </td>
    </tr>
}

</table>
